.home {
  @media screen and (min-width: 1500px) {
    width: 75%;
    margin: auto;
  }
  &__nav {
    flex: 0 0 100%;
    @media screen and (max-width: 770px) {
      order: 2 !important;
      z-index: 1000;
    }
  }
  &__profile {
    width: 23%;
    margin-left: 65px;
    @media screen and (max-width: 770px) {
      order: 1 !important;
      width: 100%;
      margin-left: 15px !important;
      margin-right: 15px !important;
    }
  }
  &__repositories {
    width: 72%;
    @media screen and (max-width: 1317px) {
      width: 71%;
    }
    @media screen and (max-width: 1100px) {
      width: 70%;
    }
    @media screen and (max-width: 940px) {
      width: 65%;
    }
    @media screen and (max-width: 770px) {
      order: 3 !important;
      width: 100%;
      padding: 0 0 0 20px;
    }
  }
}
