footer {
  border-top: 1px solid #21262d;
  width: 92%;
  height: 115px;
  margin: auto;
  @media screen and (min-width: 1500px) {
    width: 70%;
  }
  @media screen and (max-width: 652px) {
    height: 215px;
  }
}

.footer {
  &__cophy {
    margin-right: 40px;
    @media screen and (max-width: 652px) {
      width: 100%;
      justify-content: center;
      margin-top: 15px;
      order: 2;
    }
    &-icon {
      color: #484f58;
      font-size: 25px !important;
    }
    &-text {
      font-size: 12px;
      color: #8b949e;
      margin-right: 30px;
    }
  }
  &__links {
    gap: 40px;
    @media screen and (max-width: 652px) {
      order: 1;
      gap: 15px;
    }
    &-text {
      color: #58a6ff;
      text-decoration: none;
      font-size: 12px;
      &:hover {
        color: #58a6ff;
        text-decoration: underline;
      }
    }
  }
}
