.header-input {
  width: 275px;
  padding: 2px 0 3px 12px;
  background-color: #0d1117;
  border: 1px solid #30363d;
  border-radius: 6px;
  color: whitesmoke !important;
  transition: 0.2s all;

  &::placeholder {
    color: #cdcec3;
    font-size: 14px;
  }
  &:focus {
    background-color: #0d1117;
    border: 1px solid #4373aa;
    box-shadow: none;
    // width: 500px;
  }
}

.repo-input {
  width: 600px;
  border: 1px solid #30363d;
  background-color: #0d1117;
  padding: 3px 15px;
  border-radius: 6px;
  color: whitesmoke !important;
  @media screen and (max-width: 940px) {
    width: 500px;
  }
  @media screen and (max-width: 770px) {
    width: 600px;
  }
  @media screen and (max-width: 640px) {
    width: 500px;
  }
  @media screen and (max-width: 543px) {
    width: 450px;
  }
  @media screen and (max-width: 414px) {
    width: 380px;
  }
  @media screen and (max-width: 652px) {
    background-color: #161b22;
  }
  &::placeholder {
    font-size: 14px;
    font-weight: 400;
  }
  &:focus {
    background-color: #0d1117 !important;
  }
}

.input-icon {
  position: absolute;
  border: 1px solid #30363d;
  border-radius: 3px;
  padding: 4px;
  top: 5px;
  right: 8px;
  position: absolute;
  color: #b4b6b8;
  cursor: pointer;
  font-size: 12px;
  z-index: 10000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /*sirve para que a la hora de seleccionar una opcion guardada no muestre color de fondo y el color de la letra sea parecida a la anterior  */
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-box-shadow: 0 0 0px 1000px unset;
  -webkit-text-fill-color: #757677 !important;
}
