.repo {
  position: relative;
  width: 93%;
  &__search {
    padding: 15px 0;
    border-bottom: 1px solid #21262d;
  }
  @media screen and (max-width: 770px) {
    width: 98%;
  }
}
.repositories {
  border-bottom: 1px solid #21262d;
  padding: 20px 0;
  &__info {
    @media screen and (max-width: 652px) {
      width: 80%;
    }
    &-title {
      text-decoration: none;
      font-size: 20px;
      color: #58a6ff;
      cursor: pointer;
      font-weight: 600;
      &:hover {
        color: #58a6ff;
        text-decoration: underline;
      }
    }
    &-public {
      position: relative;
      left: 8px;
      bottom: 5px;
      text-transform: capitalize;
      display: inline-block;
      border: 1px solid #292e36;
      font-size: 12px;
      padding: 0 7px 1px 7px;
      line-height: 18px;
      color: #8b949e;
      border-radius: 10px;
    }
    &-descrip {
      color: #8b949e;
      font-size: 14px;
      margin-bottom: 10px;
      // width: 480px;
    }
    &-repo {
      color: #8b949e;
      font-size: 12px;
    }
  }
  &__button > button {
    display: block;
    padding: 3px 10px;
    font-size: 12px;
  }
  &__graph {
    @media screen and (max-width: 652px) {
      display: none !important;
    }
  }
}

.topic {
  padding: 2px 7px;
  color: #58a6ff;
  background-color: rgba(56, 139, 253, 0.15);
  border: 1px solid transparent;
  border-radius: 16px;
  cursor: pointer;
  font-size: 12px;
  margin: 5px 0 12px 0;
  &:hover {
    background-color: #1f6feb;
    color: #f0f6fc;
  }
}

.blue-ball,
.yellow-ball,
.red-ball,
.orange-ball,
.orange-two-ball,
.purple-ball,
.green-ball {
  position: relative;
  top: 3px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #2b7489;
}

.yellow-ball {
  background-color: #f1e05a !important;
}

.red-ball {
  background-color: #701516 !important;
}

.orange-ball {
  background-color: #b07219 !important;
}

.orange-two-ball {
  background-color: #e34c26 !important;
}

.purple-ball {
  background-color: #6e4a7e !important;
}

.green-ball {
  background-color: #3d6117 !important;
}

.text-md {
  font-size: 14px;
}

.repository-line {
  border-bottom: 1px solid #21262d;
}

.not-found{
  display: block;
  border-bottom:1px solid #21262d;
  color: #C9D1D9;
  padding: 15px 0;
  font-size: 14px;
  &-clear{
    color: #8b949e;
    cursor: pointer;
    &:hover{
      color: #58a6ff;
    }
  }
  &-deleted{
    background-color: #6e7681;
    font-size: 14px;
    padding: 0 5px;
    border-radius: 6px;
    font-weight: 500;
    margin-right: 2px;
  }
}
.dont-repositories{
  font-size: 20px;
  color: #C9D1D9;
  height: 170px;
}